:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.header {
  background-color: #333;
  color: white;
  padding: 1.1rem;
  display: flex;
  justify-content: space-between;

  .input {
    padding-right: 1.5rem;
  }

  .general {
    display: flex;
    justify-content: center;
  }
}


.content {
  padding-top: 20px;
  display: flex;
  margin: 1.5rem;
  justify-content: center;

  .row {
    display: flex;
  }

  .pipline-failed {
    background-color: indianred;
  }

  .mat-header-cell {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mat-cell {
    padding-left: 25px;
    padding-right: 25px;
  }

  .filter {
    position: fixed;
    right: 1.5rem;
    top: 10rem;
    z-index: 999;

    .mat-radio-group {
      display: flex;
      flex-direction: column;
    }

    .mat-radio-button {
      margin: 5px;
    }
  }

  .info {
    position: fixed;
    left: 1.5rem;
    top: 10rem;
    z-index: 999;
  }
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

