<div class="toolbar" role="banner">
    <img
            width="40"
            alt="Janick Avatar"
            src="assets/janick_avatar.png"
    />
    <span>Welcome</span>
    <div class="spacer"></div>
    <div class="inputs">
        <mat-form-field class="input" appearance="standard">
            <mat-label>Gitlab group id</mat-label>
            <input matInput type="text" [(ngModel)]="groupId">
        </mat-form-field>
        <mat-form-field class="input" appearance="standard">
            <mat-label>Gitlab api key</mat-label>
            <input matInput type="password" [(ngModel)]="gitlabApiKey">
        </mat-form-field>
        <mat-form-field class="input" appearance="standard">
            <mat-label>Gitlab api url</mat-label>
            <input matInput type="text" [(ngModel)]="gitlabUrl">
        </mat-form-field>
        <button class="input" mat-flat-button color="primary" (click)="getLoadData()">Go</button>
    </div>
</div>

<div class="content" role="main">
    <mat-card>
        <p>Total number accessible projects: {{totalNumberOfItems}}</p>
        <p>Number loaded projects: {{loadedItems}}</p>
        <p>Pages in total: {{pageTotal}}</p>
        <p>Current page: {{pageCurrent}}</p>
    </mat-card>
    <br>
    <br>

    <table mat-table [dataSource]="pipelines" class="mat-elevation-z8 demo-table">
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef> Ref</th>
            <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef> Created at</th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date:'short'}}  </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef> Updated at</th>
            <td mat-cell *matCellDef="let element"> {{element.updated_at | date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="runtime">
            <th mat-header-cell *matHeaderCellDef> Run time (min)</th>
            <td mat-cell *matCellDef="let element"> {{calcRuntime(element.updated_at, element.created_at) | number:
                '1.0-3'}} </td>
        </ng-container>

        <ng-container matColumnDef="web_url">
            <th mat-header-cell *matHeaderCellDef> Url</th>
            <td mat-cell *matCellDef="let element">
                <a target="_blank" href="{{element.web_url}}">{{element.web_url}}</a>.
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
